Repository filetrust/gw-proxy-serverless, pull requests merged in 2020-03, with the labels that each got.

#61 Files uploaded for demo
  GWProxyDemo/Demo.md
Labels: changes-need, with-pr

#62 Developed UI for wireframe-6 using React.js
  client/60-react-wireframe-6/.gitignore
  client/60-react-wireframe-6/README.md
  client/60-react-wireframe-6/package.json
  client/60-react-wireframe-6/public/favicon.ico
  client/60-react-wireframe-6/public/index.html
  client/60-react-wireframe-6/public/logo192.png
  client/60-react-wireframe-6/public/logo512.png
  client/60-react-wireframe-6/public/manifest.json
  client/60-react-wireframe-6/public/robots.txt
  client/60-react-wireframe-6/src/App.css
  client/60-react-wireframe-6/src/App.js
  client/60-react-wireframe-6/src/App.test.js
  client/60-react-wireframe-6/src/components/layout/layout.component.jsx
  client/60-react-wireframe-6/src/components/layout/layout.styles.css
  client/60-react-wireframe-6/src/components/wireframe-6/data.js
  client/60-react-wireframe-6/src/components/wireframe-6/wireframe-6.component.jsx
  client/60-react-wireframe-6/src/components/wireframe-6/wireframe-6.styles.css
  client/60-react-wireframe-6/src/index.css
  client/60-react-wireframe-6/src/index.js
  client/60-react-wireframe-6/src/serviceWorker.js
  client/60-react-wireframe-6/src/setupTests.js
  client/60-react-wireframe-6/yarn.lock
Labels: changes-need, react

#65 react wireframe 4
  client/.gitignore
  client/README.md
  client/package.json
  client/public/favicon.ico
  client/public/index.html
  client/public/logo192.png
  client/public/logo512.png
  client/public/manifest.json
  client/public/robots.txt
  client/src/App.css
  client/src/App.js
  client/src/App.test.js
  client/src/components/keySuccess/index.js
  client/src/components/keySuccess/style.scss
  client/src/components/newKeySuccess/index.js
  client/src/components/newKeySuccess/style.scss
  client/src/components/newProductTable/index.js
  client/src/components/product/index.js
  client/src/components/product/style.scss
  client/src/components/profitabilityTable/index.js
  client/src/components/roadMap/index.js
  client/src/components/roadMap/style.scss
  client/src/index.css
  client/src/index.js
  client/src/logo.svg
  client/src/serviceWorker.js
  client/src/setupTests.js
  client/yarn.lock
Labels: react, with-pr

#75 Complete React wireframe 3 using material-ui
  frontend/.gitignore
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/component/Charts/StackedChart.js
  frontend/src/component/ProgressTable/ProgressDataTable.js
  frontend/src/component/common.css
  frontend/src/container/Wireframe3.js
  frontend/src/container/common.css
  frontend/src/container/decisionReq/DecisionReq.js
  frontend/src/container/decisionReq/decisionReq.css
  frontend/src/container/keySuccess/KeySuccess.js
  frontend/src/container/keySuccess/keySuccess.css
  frontend/src/container/listsOfNotes/Notes.js
  frontend/src/data/revenue_sales.json
  frontend/src/images/path2.png
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/serviceWorker.js
  frontend/src/setupTests.js
  frontend/wireframe3.png
Labels: react, with-pr

#73 Completed React wireframe2
  client/.gitignore
  client/README.md
  client/package-lock.json
  client/package.json
  client/public/favicon.ico
  client/public/index.html
  client/public/logo192.png
  client/public/logo512.png
  client/public/manifest.json
  client/public/robots.txt
  client/src/App.css
  client/src/App.js
  client/src/App.test.js
  client/src/assets/canvasjs.min.js
  client/src/assets/canvasjs.react.js
  client/src/component/Charts/GaugeChart.js
  client/src/component/Charts/LineChart.js
  client/src/component/Charts/StackedChart.js
  client/src/component/Charts/gauge.css
  client/src/component/KeyNotes/keyNotes.js
  client/src/component/ProgressTable/ProgressDataTable.js
  client/src/component/ProgressTable/YearToDate.js
  client/src/component/SpeedoMeter/SpeedoMeter.js
  client/src/component/SpeedoMeter/styles.css
  client/src/component/common.css
  client/src/component/stacked/StackedColumnChart.js
  client/src/container/Wireframe2.js
  client/src/container/common.css
  client/src/container/decisionReq/DecisionReq.js
  client/src/container/decisionReq/decisionReq.css
  client/src/container/keySuccess/KeySuccess.js
  client/src/container/keySuccess/keySuccess.css
  client/src/data/revenue.json
  client/src/data/revenue_sales.json
  client/src/data/sales.json
  client/src/images/path2.png
  client/src/index.css
  client/src/index.js
  client/src/logo.svg
  client/src/serviceWorker.js
  client/src/setupTests.js
  client/wireframe2.png
Labels: react, with-pr

#68 React wireframe1
  frontend/.gitignore
  frontend/Overview Dashboard.png
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/assets/canvasjs.min.js
  frontend/src/assets/canvasjs.react.js
  frontend/src/component/ProgressTable/ProgressDataTable.js
  frontend/src/component/ProgressTable/YearToDate.js
  frontend/src/component/SpeedoMeter/SpeedoMeter.js
  frontend/src/component/SpeedoMeter/styles.css
  frontend/src/component/common.css
  frontend/src/component/stacked/StackedColumnChart.js
  frontend/src/container/Overview.js
  frontend/src/container/common.css
  frontend/src/images/path2.png
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/serviceWorker.js
  frontend/src/setupTests.js
Labels: react, with-pr

#71 Fix `ModuleNotFoundError` errors.
  bin/local-server.py
Labels: with-pr

#69 60 react wireframe 3
  dashboard-react/piotr-rygiel/69-react-wireframe-3/.gitignore
  dashboard-react/piotr-rygiel/69-react-wireframe-3/README.md
  dashboard-react/piotr-rygiel/69-react-wireframe-3/package.json
  dashboard-react/piotr-rygiel/69-react-wireframe-3/public/favicon.ico
  dashboard-react/piotr-rygiel/69-react-wireframe-3/public/index.html
  dashboard-react/piotr-rygiel/69-react-wireframe-3/public/logo192.png
  dashboard-react/piotr-rygiel/69-react-wireframe-3/public/logo512.png
  dashboard-react/piotr-rygiel/69-react-wireframe-3/public/manifest.json
  dashboard-react/piotr-rygiel/69-react-wireframe-3/public/robots.txt
  dashboard-react/piotr-rygiel/69-react-wireframe-3/src/App.js
  dashboard-react/piotr-rygiel/69-react-wireframe-3/src/App.scss
  dashboard-react/piotr-rygiel/69-react-wireframe-3/src/App.test.js
  dashboard-react/piotr-rygiel/69-react-wireframe-3/src/components/barChart/index.js
  dashboard-react/piotr-rygiel/69-react-wireframe-3/src/components/businessHealth/index.js
  dashboard-react/piotr-rygiel/69-react-wireframe-3/src/components/businessHealth/styles.scss
  dashboard-react/piotr-rygiel/69-react-wireframe-3/src/components/keySuccess/index.js
  dashboard-react/piotr-rygiel/69-react-wireframe-3/src/components/keySuccess/style.scss
  dashboard-react/piotr-rygiel/69-react-wireframe-3/src/components/lineChart/index.js
  dashboard-react/piotr-rygiel/69-react-wireframe-3/src/components/note/index.js
  dashboard-react/piotr-rygiel/69-react-wireframe-3/src/components/note/style.scss
  dashboard-react/piotr-rygiel/69-react-wireframe-3/src/components/projectTable/index.js
  dashboard-react/piotr-rygiel/69-react-wireframe-3/src/components/projectTable/style.scss
  dashboard-react/piotr-rygiel/69-react-wireframe-3/src/components/yearTable/index.js
  dashboard-react/piotr-rygiel/69-react-wireframe-3/src/index.css
  dashboard-react/piotr-rygiel/69-react-wireframe-3/src/index.js
  dashboard-react/piotr-rygiel/69-react-wireframe-3/src/logo.svg
  dashboard-react/piotr-rygiel/69-react-wireframe-3/src/serviceWorker.js
  dashboard-react/piotr-rygiel/69-react-wireframe-3/src/setupTests.js
  dashboard-react/piotr-rygiel/69-react-wireframe-3/yarn.lock
Labels: needs-rebase, needs-refactoring, react, with-pr

#66 60 react wireframe 2
  .vscode/settings.json
  dashboard-react/piotr-rygiel/66-react-wireframe-2/.gitignore
  dashboard-react/piotr-rygiel/66-react-wireframe-2/README.md
  dashboard-react/piotr-rygiel/66-react-wireframe-2/package.json
  dashboard-react/piotr-rygiel/66-react-wireframe-2/public/favicon.ico
  dashboard-react/piotr-rygiel/66-react-wireframe-2/public/index.html
  dashboard-react/piotr-rygiel/66-react-wireframe-2/public/logo192.png
  dashboard-react/piotr-rygiel/66-react-wireframe-2/public/logo512.png
  dashboard-react/piotr-rygiel/66-react-wireframe-2/public/manifest.json
  dashboard-react/piotr-rygiel/66-react-wireframe-2/public/robots.txt
  dashboard-react/piotr-rygiel/66-react-wireframe-2/src/App.css
  dashboard-react/piotr-rygiel/66-react-wireframe-2/src/App.js
  dashboard-react/piotr-rygiel/66-react-wireframe-2/src/App.test.js
  dashboard-react/piotr-rygiel/66-react-wireframe-2/src/components/barChart/index.js
  dashboard-react/piotr-rygiel/66-react-wireframe-2/src/components/keySuccess/index.js
  dashboard-react/piotr-rygiel/66-react-wireframe-2/src/components/keySuccess/style.scss
  dashboard-react/piotr-rygiel/66-react-wireframe-2/src/components/lineChart/index.js
  dashboard-react/piotr-rygiel/66-react-wireframe-2/src/index.css
  dashboard-react/piotr-rygiel/66-react-wireframe-2/src/index.js
  dashboard-react/piotr-rygiel/66-react-wireframe-2/src/logo.svg
  dashboard-react/piotr-rygiel/66-react-wireframe-2/src/serviceWorker.js
  dashboard-react/piotr-rygiel/66-react-wireframe-2/src/setupTests.js
  dashboard-react/piotr-rygiel/66-react-wireframe-2/yarn.lock
Labels: needs-rebase, needs-refactoring, react, with-pr

#67 60 react wireframe 1
  dashboard-react/piotr-rygiel/67-react-wireframe-1/.gitignore
  dashboard-react/piotr-rygiel/67-react-wireframe-1/README.md
  dashboard-react/piotr-rygiel/67-react-wireframe-1/package.json
  dashboard-react/piotr-rygiel/67-react-wireframe-1/public/favicon.ico
  dashboard-react/piotr-rygiel/67-react-wireframe-1/public/index.html
  dashboard-react/piotr-rygiel/67-react-wireframe-1/public/logo192.png
  dashboard-react/piotr-rygiel/67-react-wireframe-1/public/logo512.png
  dashboard-react/piotr-rygiel/67-react-wireframe-1/public/manifest.json
  dashboard-react/piotr-rygiel/67-react-wireframe-1/public/robots.txt
  dashboard-react/piotr-rygiel/67-react-wireframe-1/src/App.css
  dashboard-react/piotr-rygiel/67-react-wireframe-1/src/App.js
  dashboard-react/piotr-rygiel/67-react-wireframe-1/src/App.test.js
  dashboard-react/piotr-rygiel/67-react-wireframe-1/src/components/barChart/index.js
  dashboard-react/piotr-rygiel/67-react-wireframe-1/src/components/businessHealth/index.js
  dashboard-react/piotr-rygiel/67-react-wireframe-1/src/components/businessHealth/styles.scss
  dashboard-react/piotr-rygiel/67-react-wireframe-1/src/components/keySuccess/index.js
  dashboard-react/piotr-rygiel/67-react-wireframe-1/src/components/keySuccess/style.scss
  dashboard-react/piotr-rygiel/67-react-wireframe-1/src/components/lineChart/index.js
  dashboard-react/piotr-rygiel/67-react-wireframe-1/src/components/monthTable/index.js
  dashboard-react/piotr-rygiel/67-react-wireframe-1/src/components/yearTable/index.js
  dashboard-react/piotr-rygiel/67-react-wireframe-1/src/index.css
  dashboard-react/piotr-rygiel/67-react-wireframe-1/src/index.js
  dashboard-react/piotr-rygiel/67-react-wireframe-1/src/logo.svg
  dashboard-react/piotr-rygiel/67-react-wireframe-1/src/serviceWorker.js
  dashboard-react/piotr-rygiel/67-react-wireframe-1/src/setupTests.js
  dashboard-react/piotr-rygiel/67-react-wireframe-1/yarn.lock
Labels: needs-rebase, needs-refactoring, react, with-pr

#78 Issue #51 and Rework of issue #16
  security/amit-parmar/Malware_Rebuilt_GWProxy/Test1/results.md
  security/amit-parmar/Malware_Rebuilt_GWProxy/Test2/results.md
  security/amit-parmar/Malware_Rebuilt_GWProxy/Test3/results.md
  security/amit-parmar/Malware_Rebuilt_GWProxy/Test4/results.md
  security/amit-parmar/Metasploit_PoC_Image/PoC.md
  security/amit-parmar/Metasploit_PoC_Image/exec.png
  security/amit-parmar/Metasploit_PoC_Image/listener.png
  security/amit-parmar/Metasploit_PoC_Image/shell.png
  security/amit-parmar/Metasploit_PoC_Image/upload.png
  security/amit-parmar/Metasploit_PoC_Image/upload2.png
  security/amit-parmar/Metasploit_PoC_Image/victim.png
  security/ployglot/polyglot/michael-spencer-law-1.pdf
  security/ployglot/polyglot/michael-spencer-law-2.pdf
  security/ployglot/polyglot/michael-spencer-law-3.pdf
  security/ployglot/polyglot/new-image.jpg
  security/ployglot/polyglotjpgtopdf.py
  security/ployglot/polyglotpdftohtml.py
  security/ployglot/polyglotpdftojar.py
  security/ployglot/polyglotpdftozip.py
  security/ployglot/polyglotziptoexe.py
  security/ployglot/polyglotziptopdf.py
  security/ployglot/test_files/__michael-spencer.jpg
  security/ployglot/test_files/image-with-s-gw.jpeg
  security/ployglot/test_files/michael-spencer-law-1.pdf
  security/ployglot/test_files/michael-spencer-law-2.pdf
  security/ployglot/test_files/michael-spencer-law-3.pdf
  security/ployglot/test_files/michael-spencer.jpg
  security/ployglot/test_files/michael.jpeg
  security/ployglot/test_files/new-image.jpg
  security/ployglot/test_files/test.txt
  security/ployglot/test_files/test.zip
  security/ployglot/test_files/zipped-files.zip
Labels: needs-rebase
